* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #262626;
}

.mainContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "nav nav nav nav nav nav nav nav nav nav"". . cont cont cont cont cont cont . . "
        "foot foot foot foot foot foot foot foot foot foot";
    grid-template-rows: 100px auto 200px;
}

/* =============================================================================================== */

nav {
    display: flex;
    flex-direction: row;
    grid-area: nav;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    height: 90px;
    width: 100%;
    z-index: 99999;
    text-decoration: none;
}

.Register {
    position: relative;
    right: 58px;
    top: 15px;
    text-decoration: none;
    color: #f7f7f7;
}

.Login {
    position: relative;
    right: 51px;
    top: 15px;
    text-decoration: none;
    color: #f7f7f7;
}

.registerimg {
    position: relative;
    top: 12px;
}

.Login:hover,
.Register:hover {
    text-decoration: underline;
    color: #f7f7f7;
}

nav ul li {
    display: inline-block;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

nav li:hover {
    color: #c7bdbd;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 80px;
}

.Search {
    box-sizing: border-box;
    width: 220px;
    height: 50px;
    margin-left: 288px;
    margin-top: 20px;
    font-size: 20px;
    color: #000000;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    margin-right: 15px;
}

.con {
    display: inline-block;
    cursor: pointer;
    margin-left: 95%;
    margin-top: -40px;
    width: 60px;
    height: 150px;
    position: relative;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 2.5px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

nav li a {
    position: relative;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

nav li a:hover {
    text-decoration: underline;
}

/* ======================================================================================= */

.innerContainer {
    grid-area: cont;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.innerContainer .article {
    width: 73%;

}

.innerContainer .article img {
    width: 680px;
}

.innerContainer .recommends {
    width: 23%;
}

.innerContainer .article p {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Cairo', sans-serif;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
}

.innerContainer .article h1 {
    margin: 5px 0 5px 0;
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}

.recommends ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.recommends ul li {
    background-color: #000000;
    border-radius: 5px;
    margin: 5px;
    height: 50px;
    padding: 10px 5px 10px 5px;
    transition: 0.5s;
}

.recommends ul li a {
    text-decoration: none;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.recommends ul li:hover {
    background-color: #333;
    transform: scale(0.9, 0.9);
    cursor: pointer;
}

/* ===================================================================================== */

#btnScroll {
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    background-color: rgba(255, 255, 255, 0);
}

#btnScroll img {
    width: 100%;
    height: 100%;
    position: relative;
}

/* ********************************************************************************************** */

.footer {
    grid-area: foot;
    background-color: #000000;
    color: #ffffff;
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer div ul {
    display: grid;
}

.footer ul {
    list-style: none;
    float: left;
    padding-left: 210px;
    margin-top: 50px;
    position: relative;
    right: 100px;
    box-sizing: border-box;

}

.footer ul li {
    margin-top: 15px;
    font-size: 20px;
    box-sizing: border-box;
}

.footer img {
    position: relative;
    margin-left: 1px;
    padding-left: 12px;
    padding-top: 7px;
    box-sizing: border-box;
}

.textAndLogo {
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
}

.footerLogo {
    width: 200px;
    height: 200px;
    margin-top: -25px;
}

.footerText {
    font-size: 30px;
    margin-left: 25px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: gray;
}

.sccialmedia {
    display: flex;
    width: 100px;
}

/* ===================================================================================== */

/* sideList */
.sideList {
    position: fixed;
    right: 0%;
    top: 90px;
    background-color: #000000;
    color: white;
    display: none;

}

.sideList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sideList ul li {
    height: 48px;
}

.sideList ul li a {
    text-decoration: none;
    font-size: xx-large;
    color: #ffffff;
    padding: 0 20px 0 20px;
}

.sideList ul li a:hover {
    color: black;
    background-color: #ddd;
}

/* ========================================================================================= */